{% autoescape off %}
Hello {{ user.get_username }},

We received a request to reset the password for your Boarding House Management System account.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request a password reset, you can safely ignore this email.

Thanks,
The Boarding House Management Team
{% endautoescape %}
